<%= form_for(@base_song) do |f| %>
  <% if @base_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base_song.errors.count, "error") %> prohibited this base_song from being saved:</h2>

      <ul>
      <% @base_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <!-- <%= f.collection_select :artist, Artist.order(:name),:id,:name, include_blank: true %> -->
    <%= f.collection_select :collection_id, Collection.order(:title),:id,:title, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
